
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: backend_development
  username: postgres
  password: Kipper1985
  host: 127.0.0.1
  port: 5432
  
test:
  <<: *default
  database: backend_test
  username: postgres
  password: Kipper1985
  host: 127.0.0.1
  port: 5432

production:
  primary: &primary_production
    <<: *default
    database: backend_production
    username: backend
    password: Kipper1985
  cache:
    <<: *primary_production
    database: backend_production_cache
    migrations_paths: db/cache_migrate
  queue:
    <<: *primary_production
    database: backend_production_queue
    migrations_paths: db/queue_migrate
  cable:
    <<: *primary_production
    database: backend_production_cable
    migrations_paths: db/cable_migrate
