version: 2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:3.2
    steps:
      - checkout
      - run: echo "hello"

  deploy:
    docker:
      - image: cimg/ruby:3.2
    steps:
      - run: echo "world"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build