yamlversion: 2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:3.0.0-node  # This image already has Node.js installed
    working_directory: ~/app
    steps:
      - checkout
      
      # Install dependencies and build React app
      - run:
          name: Build React App
          command: |
            cd react-client
            npm install
            npm run build
      
      # Setup remote docker
      - setup_remote_docker
      
      # Build Docker image
      - run:
          name: Build Docker Image
          command: docker build -t $DOCKER_USERNAME/$IMAGE_NAME .
      
      # Login to DockerHub
      - run:
          name: Login to DockerHub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      
      # Push Docker image to DockerHub
      - run:
          name: Push Docker Image
          command: docker push $DOCKER_USERNAME/$IMAGE_NAME

  deploy:
    docker:
      - image: cimg/base:stable
    working_directory: ~/app
    steps:
      - checkout
      
      # Deploy to EC2 using the deploy.sh script
      - run:
          name: Deploy to EC2
          command: bash ./deploy.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main