version: 2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:3.0.0-node
    working_directory: ~/app
    steps:
      - checkout
      
      # Install dependencies and build React app
      - run:
          name: Build React App
          command: |
            cd react-client
            npm install
            npm run build
      
      # Docker login
      - run:
          name: Docker login
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

      # Build Docker image using the Dockerfile in the backend directory
      - run:
          name: Build Docker Image
          command: docker build -t lisadavis552/fullstack-product-app:latest .

      # Push Docker image to DockerHub
      - run:
          name: Push Docker Image
          command: docker push lisadavis552/fullstack-product-app:latest

  deploy:
    docker:
      - image: cimg/base:stable
    working_directory: ~/app
    steps:
      - checkout

      # Deploy to EC2 using the deploy.sh script
      - run:
          name: Deploy to EC2
          command: bash ./deploy.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main