version: 2.1

jobs:
  build:
    docker:
      - image: cimg/ruby:3.0.0-node
    working_directory: ~/app
    steps:
      - checkout
      
      # Install dependencies and build React app
      - run:
          name: Build React App
          command: |
            cd react-client
            npm install
            npm run build
      
      # Setup remote docker without specifying a version
      - setup_remote_docker:
          docker_layer_caching: true
      
      # Build Docker image using the Dockerfile in the backend directory
      - run:
          name: Build Docker Image
          command: docker build -t $DOCKER_USERNAME/$IMAGE_NAME -f backend/Dockerfile .
      
      # Login to DockerHub
      - run:
          name: Login to DockerHub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      
      # Push Docker image to DockerHub
      - run:
          name: Push Docker Image
          command: docker push $DOCKER_USERNAME/$IMAGE_NAME

  deploy:
    docker:
      - image: cimg/base:stable
    working_directory: ~/app
    steps:
      - checkout
      
      # Deploy to EC2 using the deploy.sh script
      - run:
          name: Deploy to EC2
          command: ssh -o StrictHostKeyChecking=no -i ssh_key.pem ubuntu@ec2-54-247-230-134.eu-west-1.compute.amazonaws.com <<EOF
            export DOCKER_USERNAME=${DOCKER_USERNAME}
            export IMAGE_NAME=${IMAGE_NAME}
            export CONTAINER_NAME="product-app"
            export SECRET_KEY_BASE=${SECRET_KEY_BASE}

            echo "Pulling the latest image from DockerHub..."
            docker pull \$DOCKER_USERNAME/\$IMAGE_NAME

            echo "Stopping and removing any existing containers with the name \$CONTAINER_NAME..."
            docker stop \$CONTAINER_NAME || true
            docker rm \$CONTAINER_NAME || true

            echo "Running database migrations..."
            docker run --rm \
              -e SECRET_KEY_BASE=\$SECRET_KEY_BASE \
              -e RAILS_ENV=production \
              -e DATABASE_URL=postgres://postgres:Kipper1985@172.17.0.1:5432/backend_production \
              \$DOCKER_USERNAME/\$IMAGE_NAME \
              rake db:migrate

            echo "Running the container in detached mode..."
            docker run -d -p 3000:3000 \
              --name \$CONTAINER_NAME \
              -e RAILS_ENV=production \
              -e SECRET_KEY_BASE=\$SECRET_KEY_BASE \
              -e DATABASE_URL=postgres://postgres:Kipper1985@172.17.0.1:5432/backend_production \
              \$DOCKER_USERNAME/\$IMAGE_NAME

            echo "Container logs:"
            docker ps -a
            docker logs \$CONTAINER_NAME
          EOF

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main